.shop-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1rem;
    row-gap: 3rem;

 h2 {
    margin: 0
}
}

@media (max-width:480px){
    .shop-container {
        grid-template-columns: repeat(2,1fr);
        column-gap: 0.2rem;
    }
    .shop-wrapper {
        padding-top: 1rem;

    }
}
